.detail {
    @include outer-container;
    padding: $gutter*2 $gutter $gutter $gutter;
    .content {
        display: none;
    }
    .toggle {
        /*position: absolute;
        top: 0;
        left: 0;
        display: inline-block;*/
    }
    &.open {
        border: 1px solid $yellow;
        margin-bottom: 1em;
        .content {
            display: block;
        }
    }
}