.well {
    @include pad;
    //padding: 2.35765%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(26, 188, 156);
    border-image: initial;
    margin-bottom: 20px;
    background: #fff;
}
.well h3 {
    color: rgb(26, 188, 156);
    margin-top: 0;
}
.well.red {
    border-color: rgb(231, 76, 60);
}
.well.red h3 {
    color: rgb(231, 76, 60);
}